# Data files
data/
*.parquet
*.csv
*.duckdb
*.duckdb.wal
nyc_taxi_dbt/logs/
nyc_taxi_dbt/target/

# Environments
*.env
hadoop.env

# System files
__pycache__/
*.pyc
.DS_Store
logs/
duckdb_temp/
taxi_zones_shape/
